extends ../base
block content 
    form(method="POST")
        input(type="text" placeholder="제목" required id="title" name="title")
        input(type="text" placeholder="설명" required id="description" name="description")
        input(type="text" placeholder="해시태그" id="hashtags" name="hashtags")
        input(type="submit" value="업로드")