extends ../base

block content
    div(class="side-space")
        div(class="area__upload")
            div(class="area__upload-title")
                h1 비디오 업로드
            div(class="area__video-form")
                div(class="video-preview")
                form(method="POST" enctype="multipart/form-data" class="form__video-upload")
                    label(for="video") 비디오 파일 업로드
                    input(type="file" id="video" name="video" required accept="video/*")
                    label(for="thumb") 썸네일 파일 업로드
                    input(type="file" id="thumb" name="thumb" required accept="image/*") 
                    input(type="text" placeholder="제목" required id="title" name="title")
                    input(type="text" placeholder="설명" required id="description" name="description")
                    input(type="text" placeholder="해시태그" id="hashtags" name="hashtags")
                    input(type="submit" value="업로드")