// configs
@import "./configs/reset";

// screens
@import "./screens/watch.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";

// components
@import "./components/header.scss";
@import "./components/video.scss";
@import "./components/video-form.scss";
@import "./components/user-form.scss";

// defalut
.dummy__header {
  height: 100px;
}

.side-space {
  padding: 0 10%;
}

footer {
  border: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
  color: #cba793;
  background-color: #3c2416;
}

.video-grid {
  min-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
  margin: 25px 0;
  gap: 25px;
  justify-content: center;
}
