extends base
include mixins/video

block content
    span=errorMessage
    div(class="video-grid")
        each video in videos
            +videoMixin(video)
            +videoMixin(video)
            +videoMixin(video)
            +videoMixin(video)
            +videoMixin(video)
        else 
            span 검색결과가 없습니다.