header
    h1 
        a(href="/") #{siteName}
    form(method="GET" action="/")
        input(type="search", placeholder="검색" id="search" name="search")
        input(type="submit" value="검색")
    nav
        ul
            if !loggedIn
                li 
                    a(href="/join") 회원가입
                li 
                    a(href="/login") 로그인
            else
                li 
                    a(href=`/user/${loggedInUser._id}`) #{loggedInUser.nickname}
                li 
                    a(href="/video/upload") 업로드
                li 
                    a(href="/user/logout") 로그아웃