header
    h1 
        a(href="/") CafeTube
    form(method="GET" action="/")
        input(type="text", placeholder="검색" id="search" name="search")
        input(type="submit" value="검색")
    nav
        ul 
            li 
                a(href="/join") 회원가입
            li 
                a(href="/login") 로그인
            li 
                a(href="/user/000000000000000000000000") 프로필
            li 
                a(href="/video/upload") 업로드
            li 
                a(href="/logout") 로그아웃