extends ../base
block content
    div(class="user-form__background")
        div(class="side-space")
            div(class="area__user-form")
                h2 CafeTube 로그인
                form(method="POST")
                    span=errorMessage
                    input(type="text" placeholder="ID" name="userId" id="userId" required)
                    input(type="password" placeholder="Password" name="password" id="password" required)
                    input(type="submit" value="로그인")
                    hr
                    a(href="/user/github/start" class="button__github-login") 
                        i(class="fa-brands fa-github") 
                        span Github로 계속하기
                span.button__go-account 계정이 존재하지않나요? 
                    a(href="/join")  지금 회원가입 하세요.